<%- include('layouts/header.ejs') %> <%- include('layouts/nav.ejs') %>
<body>
<div class="container ">
    <div class="row">
        <div class="col col-lg-6">
            <h1 class="mt-6">Greetings</h1>
        </div>
    </div>
</div>    
  </body>
</html>
